<div class="container">

  <h1 class="text-center">Dashboard</h1>

  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tab-width">Pending</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="tab-width">Allocated to me</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="tab-width">Done</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active tab-content-padding" id="home">
        <%@repairs_saver_nil.each do |repair|%>
          <ul>
            <li>
              <strong><%=repair.category%></strong>
              <%=repair.address%>
            </li>
          </ul>
        <%end%>
      </div>
      <div role="tabpanel" class="tab-pane tab-content-padding" id="profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptatum, at nam cumque unde eligendi, quam ab ipsa necessitatibus suscipit? Saepe provident eius maiores ipsam fugiat laborum blanditiis nesciunt sint!</div>
      <div role="tabpanel" class="tab-pane tab-content-padding" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi accusantium blanditiis, rerum maiores porro laboriosam, ex iusto consequuntur. Deleniti dolorum dolore quas autem odio quia assumenda amet error laudantium perspiciatis!</div>
    </div>
  </div>
</div>
