<div id="footer" class="<%= controller_name %>-<%= action_name %>">
  <div class="container" style="background: #FCFFF5, margin-bottom: 30px">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>Keep Da Bike Alive!</p>
      </div>
    </div>
  </div>
</div>
