<section class="cd-intro">
  <div class="cd-intro-content bouncy">
    <div class="banner">
      <div class="banner-content">
      <div class="banner-text">
        <h1>Finissez votre trajet en vélo</h1>
        <p>Roue crevée? chaine cassée? Nous vous dépannons en 30 minutes!</p>
      </div>
        <form action="/" method="get" class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
              <input type="adress" class="form-control" id="inputPassword3" placeholder="Adresse">
            </div>
          </div>
          <div class="form-group">
            <div class="action-wrapper">
              <button type="submit" class="btn btn-danger cd-btn main-action">Aidez-moi !</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">
  <div class="container">
    <div class="row">
       <h1 class="text-center">Comment ça marche ?</h1>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2 class="text-center">Etape 1</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2 class="text-center">Etape 2</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2 class="text-center">Etape 3</h2>
        </div>
      </div>
    </div>
  </div>
</div>

