<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">

  <div class="banner-content">
  <div class="banner-text">
    <h1>Un soucis de vélo ?</h1>
    <p>On est là pour vous sauver !</p>
  </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="adress" class="col-sm-2 control-label"></label>
        <div class="">
          <input type="adress" class="form-control" id="inputPassword3" placeholder="Adresse">
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-danger">Aidez-moi !</button>
        </div>
      </div>
    </form>
  </div>
</div>

