<%= title "SOS bike" %>

<div class="banner">
  <div class="banner-content">
  <div class="banner-text">
    <h1>Un soucis de vélo ?</h1>
    <p>On est là pour vous sauver !</p>
  </div>
    <form action="/" method="get" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-8">
          <input type="adress" class="form-control" id="inputPassword3" placeholder="Adresse">
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-danger">Aidez-moi !</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
       <h1 class="text-center">Comment ça marche ?</h1>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2 class="text-center">Etape 1</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2 class="text-center">Etape 2</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2 class="text-center">Etape 3</h2>
        </div>
      </div>
    </div>
  </div>
</div>

