
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Quel est votre problème?</h1>
      <p> Nous intervenons en urgence pour réparer les pneus crevés, les chaînes cassées, les freins usées </p>
      <P>Laissez-nous vos coordonées, nous vous rappelons immédiatement </P>
      <%= form_tag(new_repair_path, method: :get) do %>
        <div class="form-group">
          <%= select_tag(:category, options_for_select(CATEGORIES)) %>
            <%= hidden_field_tag :address, @address %>
            <%= submit_tag "Sign in/up pour être rappelé immédiatement", class: "btn btn-danger cd-btn main-action" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

