 .ctabutton{
   border: solid 1px #F79C06;
   padding: 10px 20px;
   // width: 80px;
   // height: 35px;
   //  text-align: center;
   //  padding-top: 6px;
   border-radius: 3px;
   background-color: rgba(52,52,52,.1);
   color: #F79C06;
   // cursor: pointer;
   // letter-spacing: 2px;
   text-transform: uppercase;
   font-weight: 300;
   // font-style: normal;
   // text-decoration: none;
   // -webkit-animation: text-fade 1.8s;
 }

 .ctabutton:hover{
  background-color: rgba(247,156,6,.5);
  border: solid 1px #FCFFF5;
  color: #FCFFF5;
  text-decoration: none;
}

.btn-full-width {
  width: 100%;
}

.btn-brand {
  background-color: $brand-color;
  color: white;
  &:hover {
    background-color: darken($brand-color, 5%);
    color: white;
  }
}


