

.tab-content-padding{
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  background-color:white;
  border-radius: 0px 0px 10px 10px;


}

.dashboard-container{
  width: 80%;
  margin: 0 auto;
  min-height: 600px;
}

.nav-tabs {
  &.active {
    background-color: white;
  }
}

.nav-tabs > li.active > a{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  // &:hover{
  // background-color: white;
  // }
}
.nav-tabs > li > a{

  &:hover{
  background-color: white;
  }
}

.nav-tabs li {
  width: 33%;
}


.dashboard-tab{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  margin-top: 30px;
}

.btn-handle{
  float: right;
  margin-top: -30px;
}


