.wrapper{
  background-color: $gray-lighter;
  height:20em;
}

.container {
  background-color: $white;
  margin: 0 auto;
  width: 100%;
  height:20em;
  padding-top: 20px;
}

.padded {
  padding: 10px 0;
}
.wrapper-grey {
  background: #FF4F4;
}

.form-btn-margin{
  margin-left: 40px;
}
