.wrapper{
  background-color: $gray-lighter;
  height:20em;
}

.container-wrapper {
  background-color: #FCFFF5;
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
}

.padded {
  padding: 10px 0;
}
.wrapper-grey {
  background: #FF4F4;
}

.form-btn-margin{
  margin-left: 40px;
}

.home-wrapper{
  background-color: #FCFFF5;
  padding: 20px;
}

.home-wrapper h1 {
  padding: 20px;
}
