<div class="form-border container text-center">
  <h2 style="color: #FDF3E7"; >Your issue?</h2>
    <div class="row">
      <div style="color: #FDF3E7", class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
        <%= simple_form_for(@repair) do |f| %>
          <%= f.error_notification %>
          <%= f.input :category, collection: [ "Flat tyre (15€)", "Brake Pads (20€)", "Broken chain (20€)"], label: "Select"%>
          <%= f.button :submit, "Find my saver!", class: "ctabutton" %>
        <% end %>
      </div>
  </div>
</div>


