
<div class="container-fluid client-view">
  <div class="row">

     <div class="col-sm-6 col-md-offset-1">
      <div class="row">

          <div class="col-sm-2 col-xs-hidden">
            <%= image_tag "profil", height: '70', class: 'img-circle', style: 'margin-top: 22px' %>
          </div>

          <div class="col-sm-10">
<!-- displaying the name of the client -->
             <h1> <strong>All about <%= @repair.client.first_name %></strong></h1>
          </div>

</div>


<h1>Show client</h1>

<% @problems.each do |problem| %>

<% end %>
